[includeIf "gitdir/i:F:/"]
	path = ~/user_work.gitconfig
[includeIf "gitdir/i:D:/"]
	path = ~/user_personal.gitconfig
[github]
	user = mloskot
[core]
	editor = \"C:/Program Files/VSCodium/bin/codium\" --wait
	longpaths = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	header = normal
	added = red
	updated = green
	changed = red
	untracked = red
	nobranch = red

[include]
	path = ~/alias_basic.gitconfig
	path = ~/alias_ignore.gitconfig
	path = ~/alias_log.gitconfig
	path = ~/alias_tree.gitconfig
	path = ~/alias_misc.gitconfig
[commit]
	template = ~/message.gitconfig
[credential]
	helper = manager
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = 'C:/Program Files/Microsoft VS Code/bin/code' \"$LOCAL\" \"$REMOTE\" --diff --wait
    trustExitCode = false
[difftool "TortoiseGitMerge"]
    cmd = 'C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe' \"$LOCAL\" \"$REMOTE\"
    trustExitCode = false
[mergetool "TortoiseGitMerge"]
    cmd = 'C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe'  -base:\"$BASE\" -mine:\"$LOCAL\" -theirs:\"$REMOTE\" -merged:\"$MERGED\"
    trustExitCode = true
[diff]
    tool = vscode
[diff "exif"]
    textconv = exiftool
	cachetextconv = true
[merge]
    tool = TortoiseGitMerge
[submodule]
	fetchJobs = 8
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
