[includeIf "gitdir/i:F:/"]
	path = ~/.gitconfig.user_work
[includeIf "gitdir/i:D:/"]
	path = ~/.gitconfig.user_personal
[includeIf "gitdir/i:**/home/mloskot/"]
	path = /mnt/d/wsl-config/git/.gitconfig.user_personal_wsl
[includeIf "gitdir/i:**/mnt/d/"]
	path = /mnt/d/wsl-config/git/.gitconfig.user_personal_wsl
[includeIf "gitdir/i:**/mnt/f/"]
	path = /mnt/d/wsl-config/git/.gitconfig.user_personal_wsl
[include]
	path = ~/.gitconfig.alias_basic
	path = ~/.gitconfig.alias_ignore
	path = ~/.gitconfig.alias_log
	path = ~/.gitconfig.alias_tree
	path = ~/.gitconfig.alias_misc
[github]
	user = mloskot
[core]
	editor = \"code\" --wait
	longpaths = true
	pager = less --raw-control-chars
	fsmonitor = false
	untrackedcache = false
	symlinks = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	header = normal
	added = red
	updated = green
	changed = red
	untracked = red
	nobranch = red
[commit]
	template = ~/.gitconfig.message
[diff]
	tool = vscode
	colorMoved = zebra
[diff "exif"]
	textconv = exiftool
	cachetextconv = true
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = 'C:/Program Files/Microsoft VS Code/bin/code' \"$LOCAL\" \"$REMOTE\" --diff --wait
	trustExitCode = false
[difftool "TortoiseGitMerge"]
	cmd = 'C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe' \"$LOCAL\" \"$REMOTE\"
	trustExitCode = false
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[merge]
	tool = TortoiseGitMerge
[mergetool "TortoiseGitMerge"]
	cmd = 'C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe'  -base:\"$BASE\" -mine:\"$LOCAL\" -theirs:\"$REMOTE\" -merged:\"$MERGED\"
	trustExitCode = true
[pull]
	rebase = true
[safe]
	directory = *
[submodule]
	fetchJobs = 8