---
name: 'Lint:ShellCheck'

on:
  push:
    branches:
    - main
  workflow_dispatch: {}

permissions: {}

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        ignore_paths: >-
          config/bash/dot-bash.d/bash_completion.sh
          config/mail
          scripts
          windows
